.cartcard {
  overflow: auto;
  position: fixed;
  padding: 2em;
  background-color: #ffffff;
  height: 35.941rem;
  width: 21.313rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  top: 31%;
  left: 31.2%;
}

.cart-text {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}

.cartbtn {
  background-color: #2f2926;
  width: 15.5rem;
  height: 3.438rem;
  border-radius: 3.125rem;
  color: white;
}
.cartbtnfont {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.polygon {
  position: absolute;
  z-index: -1;
  left: 85.47%;
  right: 8%;
  top: -1.46%;
  bottom: 95.46%;
  transform: rotate(45deg);
  background: #ffffff;
  border-radius: 2px;
}

.max-width {
  max-width: 118px;
  min-width: 118px;
}

.cartmain {
  max-width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}

.cartitem {
  max-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricearrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.background {
  position: fixed;
  display: block;
  height: 46.688rem;
  width: 23.438rem;
  left: 29%;
  top: 26.5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backgroundMenu {
  z-index: -2;
  left: 29%;
  top: 26.5%;

  position: fixed;
}
