* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerImg {
  position: absolute;
  left: 0rem;
  top: 0rem;
  z-index: 1;
}

.menu-main {
  position: relative;
}

/*---------------------------*/

.backgroundcard {
  position: relative;
  /* width: 100%; */
  padding: 1rem;
  background-color: #2f2926;
  height: 41.688rem;
  width: 23.438rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.profile-ellipse {
  border-radius: 50%;

  width: 5.875rem;
  height: 5.875rem;
  display: flex;
  justify-content: center;
  align-items: end;
  /* Airbean - pink */
  background: #f3e4e1;
}

/* .profile-order-history {
} */

/*---------------------------*/

.profileheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.background {
  position: fixed;
  display: block;
  height: 35.361rem;
  width: 21.313rem;
  left: 29%;
  top: 26.5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-text {
  font-family: PT Serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.375rem;
  letter-spacing: 0em;
  text-align: center;
}

.profile-para-text {
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
}

.profile-form-text {
  font-family: Work Sans;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
}

.gdpr {
  font-family: Work Sans;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 1rem;
}

.profileBtn {
  width: 15.5rem;
  height: 3.438rem;
  color: white;

  background: #2f2926;
  border-radius: 3.125rem;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;

  color: #ffffff;
}
.profileSmallBtn {
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  background: #0e927d;
}

.profile-button-section {
  display: flex;

  align-items: start;

  padding: 1rem;
}

.form-section {
  width: 19.375rem;
  height: 3rem;
  border: 1px solid #2f2926;
  border-radius: 0.375rem;
  background-color: #f3e4e1;
}

.logo-ellipse {
  background-color: #dbcecb;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.profilebagleft {
  flex-direction: column;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  box-shadow: 0 0 1rem rgba(247, 247, 247, 0.12);
}

.profileImgRectangle {
  margin: 0.1rem;
}

.profile-cart-main {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 35.361rem;
  width: 21.313rem;
  background-color: #f3e4e1;
  z-index: 3;
  border-radius: 0.1rem;
}

.forms {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.onclick-Show {
  display: flex;
}

.onlclick-hide {
  display: none;
}

.filler {
  margin: 1rem;
}
